<!DOCTYPE html>
<html>
<head>
	<title>Teseo ToolKit</title>
</head>
<body>
	<header>
		<h1>Teseo Adelki ToolKit</h1>
	</header>
	<nav></nav>
	
	<div id="contentUnit0"></div>
	<div id="contentUnit1"></div>
	<div id="contentUnit2"></div>
	<div id="contentUnit3"></div>
	<div id="contentUnit4"></div>
	<div id="contentUnit5"></div>

	<div id="modalUnit0"></div>
	<div id="modalUnit1"></div>
	<div id="modalUnit2"></div>
	<div id="modalUnit3"></div>
	<div id="modalUnit4"></div>
	
	<div id="loadingUnit0"></div>

	<footer>
		<ul>
			<li href="">Main</li>
			<li href="">Options</li>
			<li href="">Back to Menu</li>
			<li href="">Quit</li>
		</ul>
	</footer>
</body>
</html>